nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  h1 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }

  .menu-icon {
    width: 1.5rem;
    cursor: pointer;
  }
}
