.signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  h2 {
    margin-top: -7rem;
    margin-bottom: 2rem;
    color: #166fe5;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .signup-form {
    background-color: #fff;
    height: 20rem;
    width: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      input {
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        outline: none;
        border: 1px solid rgb(155, 153, 153);
        font-size: 1rem;
      }
      button {
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        background: #42b72a;
        border-radius: 0.5rem;
        border: none;
        padding: 0.6rem 0rem;
        cursor: pointer;
      }
      #login {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        border: none;
        padding: 0.6rem 0rem;
        cursor: pointer;
        border-radius: 0.5rem;
        border: none;
        text-decoration: none;
        text-align: center;

        width: 70%;
        background: #166fe5;
        padding: 1rem;
      }
    }
    .line {
      align-items: center;
      border: 1px solid #dadde1;
      width: 80%;
      display: flex;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      height: 50%;
      width: 90%;
    }
  }
}
